/* =-=-=-=-=-=-=-=-=-=-=-= 
	    General CSS
 =-=-=-=-=-=-=-=-=-=-=-= */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}


/* =-=-=-=-=-=-=-=-=-=-=-= 
       Header CSS
  =-=-=-=-=-=-=-=-=-=-=-= */

.header-area {
    background: #ecf0f1;
    padding: 20px 10px 10px 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15%;
}

.menu {
    width: 60%;
}

.menu>ul {
    display: flex;
    justify-content: center;
}

.menu ul li {
    list-style: none;
    position: relative;
}

.menu ul li a {
    color: #2c3e50;
    padding: 5px 20px;
    display: block;
    font-weight: 800;
    text-transform: capitalize;
    transition: .3s;
}

.menu ul li a:hover {
    color: #EF6A0A;
    transform: translateY(-2px);
}

.menu ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ecf0f1;
    display: none;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul ul li {
    white-space: nowrap;
}

.menu ul ul li a {
    padding: 10px 20px;
}

.search a {
    border: 1px solid black;
    background-color: #E02C6D;
    padding: 10px 5px;
    color: white;
    border-radius: 10px 5px;
}

.search {
    padding-right: 95px;
    margin-bottom: 20px;
    transition: .6s;
    display: flex;
}

.copa {
    display: flex;
    margin-top: 20px;
}

.fixture {
    border: 0px solid grey;
    background-color: white;
    padding: 15px 26px 24px 35px;
    box-shadow: 1px solid #ECF0F1;
    margin-top: 25px;
}

.search a:hover {
    color: white;
    background-color: tomato;
    justify-content: space-between;
}

.middle {
    display: flex;
    margin-top: 15px;
}

.middle {
    background: grey;
    padding: 40px 0;
}

.middle-2 {
    padding-left: 350px;
    margin-top: 20px;
}

.middle-2 h1 {
    color: tomato;
    margin-bottom: 10px;
}

.middle-2 a {
    border: 1px;
    padding: 10px 5px;
    background: #E02C6D;
    color: white;
    border-radius: 10px 5px;
    transition: .6s;
}

.middle-2 a:hover {
    color: tomato;
    background-color: white;
}

.middle-3 {
    width: 500px;
}


/* ------------------
      header end css
 --------------------*/


/* -----------------------
                       middle css start
               -------------------------*/

.grid-sec2 {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    column-gap: 35px;
    margin-top: 50px;
    border-width: 1em;
}

.players {
    border: 0px solid grey;
    background-color: white;
    padding: 15px 26px 24px 35px;
    width: 250px;
    box-shadow: 1px solid #ECF0F1;
    margin-top: 25px;
}

.players img {
    text-align: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF0F1;
}

.sec-two {
    display: flex;
}

.thired-sec {
    background-color: #ECF0F1;
}

.text p {
    margin-bottom: 35px;
}

.text {
    margin-top: 100px;
    padding: 1px 163px 61px 251px;
}

.img-sec img {
    margin-top: 100px;
    width: 500px;
    padding: 3px 150px 48px 51px;
}


/* -----------------------
                           middle css end
               -------------------------*/


/* --------------
            start fotter css
          ----------------- */

.footer-last {
    align-items: center;
}

.image-logo li img {
    width: 50px;
    padding: 41px 128px 88px 155px
}

.image-logo li {
    align-items: center;
    justify-content: center;
}

.image-logo {
    display: flex;
}

.footer {
    margin-top: 85px;
}

.footer-last img {
    width: 350px;
    margin-bottom: 35px;
}

.copiright-text {
    text-align: center;
    margin-bottom: 15px;
}

.footer-last {
    padding: 1px 238px 0px 496px;
}


/* --------------
               start fotter css
             ----------------- */

@media (max-width:769px) {
    .grid-sec2 {
        background-color: grey;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0;
        column-gap: 10px;
    }
    .header-area {
        background: #ecf0f1;
        padding: 20px 10px 10px 20px;
    }
    .sec-two {
        display: flex;
    }
    .footer {
        display: flex;
    }
}

@media (max-width:480px) {
    .grid-sec2 {
        background-color: grey;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
    }
    .header-area {
        background: #ecf0f1;
        padding: 20px 10px 10px 20px;
    }
}